---
import { Tick } from "@/components/ui/icons";
import Link from "@/components/ui/link.astro";

const { plan } = Astro.props;
---

<div>
  <div
    class="wireframe-box doodle flex flex-col w-full order-first lg:order-none py-5 px-6">
    <div class="text-center">
      <h4 class="wireframe-heading text-lg font-medium">{plan.name}</h4><p
        class="wireframe-text mt-3 text-4xl font-bold md:text-4xl">
        {
          plan.price && typeof plan.price === "object"
            ? plan.price.monthly
            : plan.price
        }
      </p>
      <!-- {
        plan.price.original && (
          <p class="mt-1 text-xl font-medium text-gray-400 line-through md:text-2xl">
            {plan.price.original}
          </p>
        )
      } -->
    </div><ul class="grid mt-8 text-left gap-y-4">
      {
        plan.features.map((item) => (
          <li class="wireframe-text flex items-start gap-3">
            <Tick class="w-6 h-6" />
            <span>{item}</span>
          </li>
        ))
      }
    </ul><div class="flex mt-8">
      <Link
        href={plan.button.link || "#"}
        block
        style={plan.popular ? "primary" : "outline"}
        class="doodle">
        {plan.button.text || "Get Started"}
      </Link>
    </div>
  </div>
</div>
