---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import PricingCard from "@/components/ContentComponents/pricing.astro";
import pricingData from "@/data/pricing.json";

const pricing = pricingData.plans;
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">{pricingData.title}</Fragment>
      <Fragment slot="desc">
        {pricingData.description}
      </Fragment>
    </Sectionhead>

    <div
      class="grid md:grid-cols-3 gap-10 mx-auto max-w-(--breakpoint-lg) mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
