---
import DropdownLink from "./DropdownLink.astro";
import navigationData from "@/data/navigation.json";
import Logo from "@/components/SvgComponents/Logo.astro";

const menuitems = navigationData.header.menuitems;
---

<div class="hidden lg:flex w-full items-center justify-between">
  <!-- Logo -->
  <a href="/" class="text-lg max-w-[150px]">
    <Logo fillColor="var(--color-theme-stroke)" />
  </a>
  
  <!-- Navigation Links -->
  <nav>
    <ul class="flex items-center gap-3">
      {
        menuitems.map((item, index) => (
          <>
            {item.children && (
              <DropdownLink
                title={item.title}
                children={item.children}
                lastItem={index === menuitems.length - 1}
              />
            )}

            {!item.children && (
              <li>
                <a
                  href={item.path}
                  class="flex px-3 py-2 items-center theme-paragraph hover:theme-headline transition-colors">
                  <span>{item.title}</span>
                  {('badge' in item) && (item as any).badge && (
                    <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white rounded-full theme-badge">
                      New
                    </span>
                  )}
                </a>
              </li>
            )}
          </>
        ))
      }
    </ul>
  </nav>
</div>